/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
/.clojurescript-output
/main.js
/.lein-cljsbuild-compiler-*
/.lein-cljsbuild-repl
/.lein-plugins/checksum
/resources/public/javascripts/cljs-http-dev.js
/resources/public/javascripts/cljs-http.js
/target
/out
/.lein-repl-history
/repl
/pom.xml.asc
/.repl
/.nrepl-port
.clj-kondo
.lsp

# node
package-lock.json
node_modules
yarn.lock